@charset "UTF-8";
/* 사이드바 관련 */
html, body {
	height : auto;
}
body {
	display : flex;
	position : relative;
}
aside {
	background : #457D87;
	max-width : 400px;
	width : 25%;
	height : 100%;
	box-shadow : 5px 5px 5px #999999b8;
	display : flex;
	flex-direction: column;
    align-items: center;
    position : fixed;
}
aside h1 > a{
	color : #fff !important;
	padding : 50px 20px;
	display : block;
	font-size : 30px;
	font-weight : 600;
}
aside ul {
	width : 100%;
}
aside ul li:first-child {
	border-top : 1px solid #fff;
}
aside ul li {
	background : #ffffff5e;
	width : 100%;
	border-bottom : 1px solid #fff;
}
aside ul li a {
	display : block;
	width : 100%;
	padding : 20px 30px;
	font-size : 20px;
	box-sizing : border-box;
}
aside ul li.selected,  
aside ul li.selected > a,
aside ul li:hover, 
aside ul li:hover > a {
	background : #fff;
	color : #457D87 !important;
	font-weight : 600;
}
/* 콘텐츠 관련 */
main {
	padding : 50px 30px;
	padding-left : 25%;
	width : 60%;
}
main .container {
	/* width : 1200px;
	margin : 0 auto; */
	padding-left : 50px;
}
main .search-area {
	width : 100%;
	background : #eee;
	height : 100px;
	display : flex;
	align-items: center;
    justify-content: space-around;
    border : 1px solid #ababab;
}
main .search-area form input {
	width : 500px;
	padding : 10px 20px;
	box-sizing : border-box;
	font-size : 15px;
}
main .search-area form button {
	width : 100px;
	padding : 10px 20px;
	background : #fff;
	box-sizing : border-box;
	font-size : 15px;
}
main .list p {
	padding : 50px 0 20px;
}
main .list table {
	width : 100%;
}

main .list table, main .list tr{
	border : 1px solid #ababab;
	border-collapse : collapse;
	text-align : center;
}

main .list table th, main .list table  td {
	padding : 15px 0;
}

main .list table button {
	padding : 10px 20px;
	background : #fff;
	box-sizing : border-box;
	font-size : 15px;
}

main .list table th {
	background : #eee;
}

main .list .paging {
	margin-top : 20px;
	width : 100%;
}
main .list >  .paging > ul {
	display : flex;
	align-items: center;
	justify-content: center;
}
main .list .paging ul li a {
	padding : 10px;
	font-size : 18px;
	display : block;
}
main .list .paging ul li a:hover {
	text-decoration : underline;
}
main .list .paging ul li a.selected {
	color : #457D87;
	font-weight : 600;
	text-decoration : underline;
}
button:hover {
	background : #457D87 !important;
	color : #fff;
	border : 1px solid #457D87;
}