@charset "UTF-8";
/* 사이드바 관련 */
html, body {
	height : auto;
}
body {
	display : flex;
	position : relative;
}
aside#side {
	background : #457D87;
	max-width : 400px;
	width : 25%;
	height : 100%;
	box-shadow : 5px 5px 5px #999999b8;
	display : flex;
	flex-direction: column;
    align-items: center;
    position : fixed;
}
aside#side h1 > a{
	color : #fff !important;
	padding : 50px 20px;
	display : block;
	font-size : 30px;
	font-weight : 600;
}
aside#side ul {
	width : 100%;
}
aside#side ul li:first-child {
	border-top : 1px solid #fff;
}
aside#side ul li {
	background : #ffffff5e;
	width : 100%;
	border-bottom : 1px solid #fff;
}
aside#side ul li a {
	display : block;
	width : 100%;
	padding : 20px 30px;
	font-size : 20px;
	box-sizing : border-box;
}
aside#side ul li.selected,  
aside#side ul li.selected > a,
aside#side ul li:hover, 
aside#side ul li:hover > a {
	background : #fff;
	color : #457D87 !important;
	font-weight : 600;
}
/* 콘텐츠 관련 */
main {
	padding : 50px 0 50px 25% ;
	margin-bottom : 250px;
	width : 60%;
}
main .container {
	/* width : 1200px;
	margin : 0 auto; */
	padding-left : 50px;
}
main .search-area {
	width : 100%;
	background : #eee;
	height : 100px;
	display : flex;
	align-items: center;
    justify-content: space-around;
    border : 1px solid #ababab;
}
main .search-area form input {
	width : 500px;
	padding : 10px 20px;
	box-sizing : border-box;
	font-size : 15px;
}
main .search-area form button {
	width : 100px;
	padding : 10px 20px;
	background : #fff;
	box-sizing : border-box;
	font-size : 15px;
}
main .list p {
	padding : 50px 0 20px;
}
main .list table {
	width : 100%;
}

main .list table, main .list tr{
	border : 1px solid #ababab;
	border-collapse : collapse;
	text-align : center;
}

main .list table th, main .list table  td {
	padding : 15px 0;
}

main .list table button {
	padding : 10px 20px;
	background : #fff;
	box-sizing : border-box;
	font-size : 15px;
	border : 1px solid #ababab;
}

main .list table th {
	background : #eee;
}

main .list .paging {
	margin-top : 20px;
	width : 100%;
}
main .list >  .paging > ul {
	display : flex;
	align-items: center;
	justify-content: center;
}
main .list .paging ul li a {
	padding : 10px;
	font-size : 18px;
	display : block;
}
main .list .paging ul li a:hover {
	text-decoration : underline;
}
main .list .paging ul li a.selected {
	color : #457D87;
	font-weight : 600;
	text-decoration : underline;
}
button:hover {
	background : #457D87 !important;
	color : #fff;
	border : 1px solid #457D87;
}

/* 강좌조회 */
main .container .search-area {
	height : auto;
}
main .container .gird {
	width : 100%;
	height : 100%;
	display : grid;
	grid-template-columns : 30% 30% 30%;
	gap : 5%;
	grid-template-areas : "sub1 sub2 sub3" ". buttones .";
	padding : 20px;
	box-sizing : border-box;
}
main .container .search-area form .select-list {
	border : 1px solid #ddd;
	background : #fff;
	height : auto;
	white-space:nowrap;
	display : flex-inline;
	flex-direction: column;
}

main .container .search-area .select-list p {
	white-space:nowrap;
	background : #000;
	color : #fff;
	padding : 10px;
}
main .container .search-area .select-list ul {
	height : 170px;
	white-space:nowrap;
	overflow-y: auto;
	white-space:pre;
	display : flex;
	flex-direction: column;
}

main .container .search-area .select-list ul li{
	padding : 10px;
	border-top : 1px solid #ddd;
}
main .container .search-area .select-list ul li:last-child {
	border-bottom : 1px solid #ddd;
}
main .container .search-area .select-list ul li:hover {
	color : #fff;
	background : #597c85;
}

main .container .search-area .select-list ul li.selected {
	color : #fff;
	background : #597c85;
}

main .container .search-area .buttones {
	grid-area : buttones;
	text-align : center;
	padding : 10px 0;
}
main .container .search-area .buttones button {
	padding : 10px 20px;
	background : #fff;
	border : 1px solid #ababab;
	box-sizing : border-box;
	font-size : 15px;
}
